body{

    background-color: #1F2937;
    color: white;

}
.navbar img{

    float:left;
    top:0;

}
.navbar ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: right;
}
.navbar li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}